{% extends 'user/layout1.html' %}

{% block statement %}
    <p class="display-4 color1">Welcome, {{ gdetails.guest_fname }} </p>
    {% if gdetails.guest_image != None %}
    <img src="{{url_for('static', filename='uploads/'+gdetails.guest_image)}}" height="200">
    {% else %}
    <a href= "/profile/uploadpicture">Click here to upload picture</a>
    {% endif %}
    
    {% set msg = get_flashed_messages(with_categories=True)%}
    {% if msg %}
    {% for i in msg %}
    {% if i[0] == 'error'%}
    <p class="alert alert-danger">{{i[1]}}</p>
    {% else %}
    <p class="alert alert-success">{{i[1]}}</p>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% include 'user/navig.html' %}
{% endblock %}

{% block form %}
{{ promised_gift }}
<form action= "/submit/registry" method= "post">
  <table class= "table">
    <thead>
      <th>S/N</th>
      <th>Gift</th>
      <th>Gifts Name</th>
    </thead>
    <tbody>
      {% for g in gift %}
      <tr>
      <td>{{ loop.index }}</td>
      {% if g.gift_id in promised_gift %}
      <td><input type= "checkbox" name= "selected_gift" value= "{{ g.gift_id }}" checked></td>
      {% else %}
      <td><input type= "checkbox" name= "selected_gift" value= "{{ g.gift_id }}"></td>
      {% endif %}
      <td>{{ g.gift_name }}</td>
      <tr>
      {% endfor %}
    </tbody>
  </table>
  <button class= "btn btn-success">Submit</button>
  <input type= "hidden", name= "csrf_token" id= "csrf_token" value= "{{csrf_token()}}">
</form>


<h4>Your Gifts</h4>
<p>{{selected}}</p>
{% endblock form %}